*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5em;
  padding: 0 3em;
  gap: 3.1em;
}
nav .navbar__links {
  display: flex;
  flex-grow: 1;
  z-index: 1;
  gap: 2.7em;
  transition: transform 200ms ease-in-out;
}
@media (max-width: 900px) {
  nav .navbar__links {
    position: absolute;
    bottom: 0;
    right: 0;
    flex-flow: column;
    align-items: flex-start;
    height: 100vh;
    padding: 1.5em;
    padding-top: 5em;
    width: 230px;
    gap: 1.5em;
    transform: translateX(100%);
    background-color: hsl(0deg, 0%, 98%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
nav .navbar__links .links__item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}
nav .navbar__links .links__item .--open {
  transform: rotate(180deg);
}
nav .navbar__links .links__item:hover .item__name {
  text-shadow: 0px 0px 1px black;
}
nav .navbar__links .links__item .item__name {
  pointer-events: none;
  display: flex;
  place-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  width: 100%;
  font-weight: 500;
  color: hsl(0deg, 0%, 41%);
}
nav .active.navbar__links {
  transform: translateX(0);
}
nav .CTA {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 900px) {
  nav .CTA {
    width: 100%;
    margin: 0;
    flex-direction: column;
    place-items: center;
  }
}
nav .CTA__input {
  font-size: 1.1rem;
  border: none;
  outline: none;
  color: hsl(0deg, 0%, 41%);
  background-color: transparent;
  width: 7.5rem;
  height: 2.9rem;
  font-weight: 700;
}
nav .CTA__input:hover {
  color: hsl(0deg, 0%, 8%);
  cursor: pointer;
}
@media (max-width: 900px) {
  nav .CTA__input {
    width: 100%;
  }
}
nav .CTA .logon {
  border: 0.13rem solid hsl(0deg, 0%, 8%);
  border-radius: 15px;
  transition: background-color 400ms ease-out;
}
nav .CTA .logon:hover {
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(0deg, 0%, 8%);
}
nav .CTA .logon:active {
  color: hsl(0deg, 0%, 8%);
  background-color: hsl(0deg, 0%, 98%);
}
nav .menu {
  display: none;
}
nav .menu:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  nav .menu {
    z-index: 10;
    margin-left: auto;
    display: block;
  }
}
nav .dropdown {
  position: relative;
}
@media (max-width: 900px) {
  nav .dropdown {
    flex-flow: column;
    gap: 0;
  }
}
nav .dropdown .first {
  right: 0;
}
nav .dropdown .open {
  padding: 1.9em;
  max-height: 300px;
  visibility: visible;
}
@media (max-width: 900px) {
  nav .dropdown .open {
    padding: 1.2em;
  }
}
nav .dropdown__links {
  max-height: 0px;
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 40px;
  flex-flow: column nowrap;
  border-radius: 20px;
  background-color: hsl(0deg, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 120ms ease-in;
}
@media (max-width: 900px) {
  nav .dropdown__links {
    position: relative;
    box-shadow: none;
    top: 0;
  }
}
nav .dropdown__links li {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1rem;
}
nav .dropdown__links li:last-child {
  margin-bottom: 0;
}
nav .dropdown__links li > a {
  color: hsl(0deg, 0%, 41%);
  font-weight: 500;
  white-space: nowrap;
}
nav .dropdown__links li > img {
  width: 16px;
}
nav .dropdown__links li:hover a {
  color: hsl(0deg, 0%, 8%);
}
nav .dropdown__links li:hover {
  filter: contrast(3);
}

main {
  max-width: 100vw;
  min-height: calc(100vh - 5em);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 1100px) {
  main {
    flex-direction: column-reverse;
    justify-content: stretch;
  }
}
main > section {
  max-width: 520px;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 4em;
}
@media screen and (max-width: 1100px) {
  main > section {
    flex: 1;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
  }
}
main > section > h1 {
  position: relative;
  font-size: 4.8rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 8%);
}
main > section > h1:hover:after {
  width: 100%;
}
main > section > h1:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 5px;
  bottom: 0;
  left: 0;
  background: linear-gradient(81deg, hsl(243deg, 79%, 68%) 0%, hsl(277deg, 42%, 51%) 60%, hsl(53deg, 75%, 54%) 100%);
  transition: width 150ms ease-in;
}
@media screen and (max-width: 1100px) {
  main > section > h1 {
    font-size: 2.3em;
    text-align: center;
  }
}
main > section > p {
  font-size: 1.1rem;
  font-weight: 500;
  color: hsl(0deg, 0%, 41%);
  max-width: 450px;
  line-height: 1.9rem;
}
@media screen and (max-width: 1100px) {
  main > section > p {
    font-size: 0.9em;
    text-align: center;
  }
}
main > section > button {
  width: 10em;
  height: 3.4em;
  border-radius: 1em;
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(0deg, 0%, 8%);
  font-size: 1.1rem;
  font-weight: 700;
  transition: background-color 400ms ease-out;
}
main > section > button:hover {
  color: hsl(0deg, 0%, 8%);
  background-color: hsl(0deg, 0%, 98%);
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  main > section > button {
    font-size: 0.8rem;
  }
}
main > section > .client {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  place-self: flex-end;
}
@media screen and (max-width: 1100px) {
  main > section > .client {
    margin-bottom: 3rem;
    margin-top: auto;
  }
}
main > section > .client > img {
  filter: contrast(0);
  transition: filter 300ms ease;
}
main > section > .client > img:hover {
  filter: none;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  main > section > .client > img {
    width: 50px;
  }
}
main > div.images {
  display: grid;
  place-items: center;
  max-width: 530px;
}
@media screen and (max-width: 1100px) {
  main > div.images {
    flex: 1;
  }
}
main > div.images img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */