*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

//declaring some colours for the project
$almostwhite: hsl(0, 0%, 98%);
$mediumgray: hsl(0, 0%, 41%);
$almostblack: hsl(0, 0%, 8%);
$pastelpurple: hsl(277, 42%, 51%);
$royalpurple: hsl(243, 79%, 68%);
$goldenorange: hsl(53, 75%, 54%);
$font-size-p: 1.1rem;

body {
  font-family: "Epilogue", sans-serif;
  background-color: $almostwhite;
}

html,
body {
  overflow-x: hidden;
  position: relative;
}
//styling the navbar
//this took some time lmao

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5em;
  padding: 0 3em;
  gap: 3.1em;

  & .navbar__links {
    display: flex;
    flex-grow: 1; //flex grow makes it take all the space
    z-index: 1;
    gap: 2.7em;
    transition: transform 200ms ease-in-out; //i still can't make decent animations :(

    @media (max-width: 900px) {
      //media for the sidebar dropwdon in mobile
      position: absolute;
      flex-flow: column;
      align-items: flex-start;
      height: 100%;
      top: 0;
      right: 0;
      padding: 1.5em;
      padding-top: 5em;
      width: 230px;
      gap: 1.5em;
      transform: translateX(100%);
      background-color: $almostwhite;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }

    & .links__item {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      cursor: pointer;

      & .--open {
        //i really tried to work with transform for the SVG, but i need to learn a couple
        //more css proprierty to make it work properly, so when active i simple flipped it
        transform: rotate(180deg);
      }

      &:hover {
        .item__name {
          text-shadow: 0px 0px 1px black;
        }
      }
      .item__name {
        pointer-events: none;
        display: flex;
        place-items: center;
        flex-wrap: nowrap;
        gap: 5px;
        width: 100%;
        font-weight: 500;
        color: $mediumgray;
      }
    }
  }

  & .active.navbar__links {
    transform: translateX(0);
  }

  .CTA {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 900px) {
      width: 100%;
      margin: 0;
      flex-direction: column;
      place-items: center;
    }

    &__input {
      font-size: $font-size-p;
      border: none;
      outline: none;
      color: $mediumgray;
      background-color: transparent;
      width: 7.5rem;
      height: 2.9rem;
      font-weight: 700;

      &:hover {
        color: $almostblack;
        cursor: pointer;
      }

      @media (max-width: 900px) {
        width: 100%;
      }
    }

    .logon {
      border: 0.13rem solid $almostblack;
      border-radius: 15px;
      transition: background-color 400ms ease-out;

      //isnt there a easier way to flip colors?
      &:hover {
        color: $almostwhite;
        background-color: $almostblack;
      }
      &:active {
        color: $almostblack;
        background-color: $almostwhite;
      }
    }
  }

  .menu {
    display: none;
    &:hover {
      cursor: pointer;
    }

    @media (max-width: 900px) {
      z-index: 10;
      margin-left: auto;
      display: block;
    }
  }

  .dropdown {
    position: relative;

    @media (max-width: 900px) {
      flex-flow: column;
      gap: 0;
    }

    .first {
      right: 0;
    }

    & .open {
      padding: 1.9em;
      max-height: 300px;
      visibility: visible;

      @media (max-width: 900px) {
        padding: 1.2em;
      }
    }

    &__links {
      max-height: 0px;
      display: flex;
      visibility: hidden;
      position: absolute;
      top: 40px;

      flex-flow: column nowrap;
      border-radius: 20px;
      background-color: $almostwhite;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      transition: all 120ms ease-in;

      @media (max-width: 900px) {
        position: relative;
        box-shadow: none;
        top: 0;
      }
      & li {
        margin-bottom: 1em;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
        & > a {
          color: $mediumgray;
          font-weight: 500;
          white-space: nowrap;
        }

        & > img {
          width: 16px;
        }

        &:hover a {
          color: $almostblack;
        }

        &:hover {
          filter: contrast(3);
        }
      }
    }
  }
}

main {
  max-width: 100vw;
  min-height: calc(100vh - 5em);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;

  @media screen and (max-width: 1100px) {
    flex-direction: column-reverse;
    justify-content: stretch;
  }

  & > section {
    max-width: 520px;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 4em;

    @media screen and (max-width: 1100px) {
      flex: 1;
      gap: 1em;
      align-items: center;
      justify-content: flex-start;
    }

    & > h1 {
      position: relative;
      font-size: 4.8rem;
      font-weight: 700;
      color: $almostblack;

      &:hover:after {
        width: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 0;
        height: 5px;
        bottom: 0; //to place it in bottom
        left: 0;
        background: linear-gradient(
          81deg,
          $royalpurple 0%,
          $pastelpurple 60%,
          $goldenorange 100%
        );
        transition: width 150ms ease-in;
      }

      @media screen and (max-width: 1100px) {
        font-size: 2.3em;
        text-align: center;
      }
    }

    & > p {
      font-size: $font-size-p;
      font-weight: 500;
      color: $mediumgray;
      max-width: 450px;
      line-height: 1.9rem;
      @media screen and (max-width: 1100px) {
        font-size: 0.9em;
        text-align: center;
      }
    }

    & > button {
      width: 10em;
      height: 3.4em;
      border-radius: 1em;
      color: $almostwhite;
      background-color: $almostblack;
      font-size: $font-size-p;
      font-weight: 700;
      transition: background-color 400ms ease-out;

      &:hover {
        color: $almostblack;
        background-color: $almostwhite;
        cursor: pointer;
      }
      @media screen and (max-width: 1100px) {
        font-size: 0.8rem;
      }
    }

    & > .client {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-evenly;
      place-self: flex-end;
      @media screen and (max-width: 1100px) {
        margin-bottom: 3rem;
        margin-top: auto;
      }

      & > img {
        filter: contrast(0);
        transition: filter 300ms ease;
        &:hover {
          filter: none;
          cursor: pointer;
        }

        @media screen and (max-width: 1100px) {
          width: 50px;
        }
      }
    }
  }

  & > div.images {
    display: grid;
    place-items: center;
    max-width: 490px;

    @media screen and (max-width: 1100px) {
      flex: 1;
    }
    & img {
      width: 100%;
      max-height: 100%;
    }
  }
}
